#root {
    max-width: 1200px;
    margin: auto; 
    text-align: center; 
}

ul {
    list-style-type: none;
    text-align: left;
}

ul li {
    margin-bottom: 20px;
}

.single-movie-box {
    margin-bottom: 40px;
    display: inline-block;
}

.country-flag {
    max-width: 50px;
}