/* Variables, Resets and Defaults */

:root {
    --header-height : 8rem;
    --color-primary : rgba(255,255,255,0.7);
    --color-secondary : #db202c;
}

body {
    background-color: #141414;
    color: var(--color-primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

/* Layout and Responsive*/

.inner-wrapper {
    max-width: 1448px;
    margin: auto;
}

.hide-on-desktop {
    display: block;
}

.hide-on-mobile {
    display: none;
}

@media screen and (min-width:1025px) {
    .hide-on-desktop {
        display: none;
    }
    
    .hide-on-mobile {
        display: block;
    }
}

/* Full Screen Box */

.full-screen-box-outer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    animation: fade-in .5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.full-screen-box-inner {
    flex: 0 1 800px;
    max-width: calc(100% - 50px);
    min-height: 50vh;
    background-color: #141414;
    border-radius: .5rem;
}

.full-screen-box-outer .close-icon i {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50% , -50%);
    font-size: 6rem;
    color: var(--color-secondary); 
}

/*  Header Layout */

.header .inner-header.flex-container {
    height: calc( var(--header-height) * 2 );
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width:769px) {
    .header .inner-header.flex-container {
        height: var(--header-height);
    }
}

.inner-header > * {
    flex: 1 0 50%;
}
.inner-header > .outer-logo { 
    flex-grow: 0;
}
.inner-header > .header-menu-nav { 
    order:1; 
}
.inner-header > .outer-search-form {
    flex: 0 0 auto;
    order: 2;
}
.inner-header .filter-container {    
    order: 3; 
}

@media screen and (min-width:769px) {
    .inner-header.flex-container > * {
        flex: 1 0 auto;
    }
    .inner-header.flex-container > .outer-logo ,
    .inner-header.flex-container > .outer-search-form {
        flex-grow: 0;
    }
}

@media screen and (min-width:1025px) {
    .header-menu-nav {
        order:initial;
    }
    .flex-container.hide-on-mobile {
        display: flex;
    }
}

/* Header Logo */

.header img.header-logo {
    max-height: 5rem;
    display: block;
}

/* Header Menu Nav */

.header-menu-nav > ul.flex-container {
    justify-content: flex-start;
}

.header-menu-nav ul li:hover {
    color: white;
}

.outer-hamburger-menu {
    text-align: right;
    font-size: 2rem;
}

@media screen and (min-width:769px) {
    .outer-hamburger-menu {
        text-align: center;
    }
}

/* Header Search Form */

.header .outer-search-form {
    height: 4rem;    
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--color-secondary);
    border-radius: .5rem;
}

.header #search-title {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: none;
    border-right: 1px solid var(--color-secondary);
    outline: none;
}

.header .search-button {
    height: 100%;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--color-secondary); 
    background-color: transparent;
}

/* Header Filter Box*/

.header-results-count {
    letter-spacing: .2rem;
}

.header-results-count i {
    font-size: 2rem;    /* Filter Icon */
}

div.filter-box-inner.flex-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

ul.genre-list.flex-container {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filter-box-inner .button-container.flex-container {
    justify-content: center;
    align-self: stretch;    
}

.filter-box-inner .button-container button {
    font-size: 2.5rem;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    background-color: transparent;
    border-radius: .5rem;
    letter-spacing: .2rem;
    transition: background-color .5s;
}
.filter-box-inner .button-container button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/*  CARD CONTAINER OUTER    */

ul.search-results li:not(:li.flex-container) {
    display: inline-block;
}

.no-results h2 {
    font-size: 5rem;
    line-height: 7rem;
    letter-spacing: 3px;
}

.no-results.search-results.flex-container {
    flex-direction: column;
}

.search-results.flex-container {
    flex-wrap: wrap;
    min-height: calc(100vh - var(--header-height) * 2 );
}
@media screen and (min-width:769px) {
    .search-results.flex-container {
        min-height: calc(100vh - var(--header-height) );
    }
}

/*  SINGLE CARD */

li.single-movie-box {
    flex: 0 0 342px;    
    height: 500px;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}

/* MOVIE POSTER */

img.movie-poster {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #333333;
    transition: opacity .5s;
}
.single-movie-box:hover img.movie-poster {
    opacity: 0.075;
}

/* MOVIE DATA */

.single-movie-box .movie-data {
    position: absolute;
    z-index: 2;
    height: 100%;

    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;

    opacity: 0;
    transition: opacity .5s;    
}
.single-movie-box:hover .movie-data {
    opacity: 1;
}

/* Genres and Cast */

ul.movie-cast-list ,
ul.movie-genres-list {
    display: inline-block;
}

ul.movie-cast-list li:not(:last-child)::after ,
ul.movie-genres-list li:not(:last-child)::after {
    content: ", \00a0";
}

/*  FLAGS */

.movie-country-flag {
    max-height: 2.2rem;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
}

/*  STARS   */

.movie-rating i {
    color: #ffc600;
}

/*  PLOT   */

li.movie-plot-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
}